footer
  div.container
    
    div.row.footer_con_wrap
      div.col-md-4.col-sm-12.footer-title 关注我们
        div.footer-links
          div.footer-link 社会招聘
          div.footer-link 校园招聘
          div.footer-link 国际招聘
      div.col-md-4.col-sm-12.footer-title 加入我们
        div.footer-links
          div.footer-link 客户服务
          div.footer-link 合作洽谈
          div.footer-link 服务采购
      div.col-md-4.col-sm-12.footer-title 联系我们
        div.footer-links
          div.footer-link 服务协议
          div.footer-link 隐私政策
          div.footer-link 知识产权
    div.row.footer_copyright
      div.col-md-6.col-sm-12 Copyright © 2018 Tedu.cn All Rights Reserved 京ICP备08000853号-56 版权所有
      