extends ../base/base

block content
  div.container 
    div.row  
      div.col-md-2
        nav.visible-md.visible-lg
          ul.nav.nav-pills.nav-stacked
            li
              a(href="/test1") test1
            li
              a(href="/test2") test2
      div.col-md-8
        div.panel 
          h3 公司动态
          ul.list-group
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】
            li.list-group-item 2018年第三季度业绩【PDF file】