/* 背景色 */
.navbar-inverse {
  background: #0052d9;
  border: none;
  margin-bottom: 0;
}

/* 品牌字体颜色 */
.navbar-inverse .navbar-brand {
  color: #fff;
}

/* 菜单字体 */
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

/* 选中字体 */
.navbar-inverse .navbar-nav>.active>a {
  opacity: 1;
  background: none;
  color: #fff;
}

/* hover或focus的字体 */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  border: none;
}

.navbar-fixed-container {
  height: 50px;
}

.jumbotron {
  background-color: #0052d9;
  color: #fff;
}

.container-wrapper {
  margin-bottom: 80px; 
}

footer {
  background: #ecf0f1;
}