extends ../base/base

block content
  div.jumbotron
    div.container 
      h1 连接你我 共生未来
      p#a-desc 教育的重新定义

  
  div.container-wrapper
    div.container
      h3.about-title 以互联网为基础的科技及文化公司
      p.about-wrap 1998年11月诞生于中国深圳，是一家以互联网为基础的科技与文化公司
      p.about-wrap 我们的使命是 “通过互联网服务提升人类生活品质”。
      p.about-wrap 腾讯秉承着 “一切以用户价值为依归” 的经营理念，致力于为亿万网民提供优质的互联网综合服务。
      p.about-more(href="/culture") 了解更多>>


  div.container-wrapper
    div.container
      div.row
        each item in news
          div.col-sm-6.col-md-4
            div.thumbnail
              img(src="" alt="")
              div.caption.news(style="background-image: url(" + item.bg + ")")
                p.news-title=item.title
                p.news-desc=item.desc
                p.news-more 了解更多 >
              
              div.news-bd
                div.news-list.first
                  a.news-tit(href="./articles/2000001.html", style="overflow-wrap: break-word;") 首届中国智慧交通大会在京召开，腾讯发布4款智慧出行新品
                  div.news-date 2018/10/23
                div.news-list
                  a.news-tit(href="./articles/2000001.html", style="overflow-wrap: break-word;") 马化腾：做好数字助手，腾讯积极共建智能网联汽车生态
                  div.news-date 2018/10/18

  div.container-wrapper
    div.container 
      div.jumbotron.pro
        h1 做好数字助手 助力数字中国
        p#pro-desc 扎根消费互联网  拥抱产业互联网
        p#pro-more 了解更多产品服务  >